version: 2.1

jobs:
  build:
    docker:
      - image: 'debian:10-slim'
    steps:
      - checkout
      - run:
          name: Install dependencies and build project
          command: 'apt update && apt install -y git && wget https://github.com/Kitware/CMake/releases/download/v3.16.3/cmake-3.16.3-Linux-x86_64.sh && cmake-3.16.3-Linux-x86_64.sh . && cmake-3.16.3-Linux-x86_64.sh --build .'
      - sonarcloud/scan

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
